@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #0b1120;
    --foreground: 222.2 84% 4.9%;
    --menu:#fcf3f3;
    --text-base: #fcf3f3;
 
    --muted: #202937;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: #0e172a;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: #fcf3f3;
    --input: #fcf3f3;
    --sidebar : #0e172a;
 
    --primary: #a252c8;
    --primary-foreground: #656565;
 
    --secondary: #202937;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: #202937;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-white text-lg;
    font-family: Lato, serif;
  }
}